<header>
  <div class="container-primary">

    <!-- LOGO -->
    <div class="logo">
      <a href="#" class="logo-a-element">
        <img src="/assets/sources/icons/logoDental Ai.png" alt="Logo Clínica Dental">
        <h1>Clínica Dental</h1>
      </a>
    </div>

    <!-- NAV -->
    <nav class="nav" id="nav_links">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>

    <!-- BOTÓN WHATSAPP DESKTOP -->
    <div class="link-contact">
      <a href="https://wa.me/522221421555?text=Hola%20Quisiera%20Más%20Información%20Sobre%20Sus%20Servicios" target="_blank">
        Contactar por WhatsApp
      </a>
    </div>

    <!-- MENU HAMBURGUESA -->
    <div class="menu" id="menuBtn">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
  </div>
</header>

<!-- CONTENEDOR FULLSCREEN MENÚ -->
<div class="fullscreen-menu" id="fullscreenMenu">
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Servicios</a></li>
    <li><a href="#">Nosotros</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</div>


<script src="/assets/javascript/script.js"></script>
